.App {
  font-family: "Rubik", sans-serif;
  color: #78909c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(129, 168, 185) 0%,
    rgb(179, 229, 252) 50%,
    rgb(240, 98, 146) 50%,
    rgb(153, 61, 92) 100%
  );
}
